* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: lightgrey;
}

input,
button {
  /*input,btn 테두리 색 제거*/
  border: none;
  outline: none;
  background: none;
}

.App {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

.total-income {
  /*총 금액 */
  color: black;
  font-size: 20px;
  font-weight: 1000;
  background-color: bisque;
  padding: 5px 25px; /*상하 좌우*/
  border-radius: 10px; /*모서리 둥글게*/
}

.income-form {
  display: block;
  margin: 15px;
  position: relative; /*자신이 기준점이됨*/
}

.income-form:after {
  /*가상요소 b = 앞쪽에 , a = 끝날때*/
  content: "";
  position: absolute; /*자식요소 부모를 기준점*/
  top: 0px;
  left: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 10px;
  transition: 0.2s;
}

.income-form:focus-within:after {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
}

.form-inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  border-radius: 8px;
}
.form-inner input {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #fff;
}

.form-inner input[type="text"] {
  border-radius: 8px 0px 0px 8px;
  flex: 1 1 100%;
}
.form-inner input[type="date"] {
  border-radius: 0px;
  min-width: 200px;
}
.form-inner input[type="submit"] {
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    var(--primary) 50%,
    var(--primary) 50%,
    var(--secondary)
  );
  background-size: 200%;
  background-position: 0%;

  color: var(--dark);
  font-weight: 600;
  text-transform: uppercase;

  transition: 0.5s;
}

.form-inner input[type="submit"]:hover {
  background-position: 100%;
  color: green;
}

.income-list {
  padding: 15px;
}

.income-list .income-item {
  position: relative;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex; /*list안 텍스트 가로로*/
  transition: 0.4s;
  padding-left: 75px;
}

.income-list .income-item .remove-item {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  cursor: pointer;
  display: block;
  color: blue;
  font-weight: 600;
  background-color: aliceblue;
  border-radius: 8px 0px 0px 8px;
  transition: 0.2s;
}

.income-list .income-item:hover .remove-item {
  width: 50px;
}

.income-list .income-item .desc {
  flex: 1 1 100%;
}

.income-list .income-item .price,
.income-list .income-item .date {
  min-width: 125px;
}
.income-list .income-item:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
